<h2>
  <%= h @user.name %>

  <div class="span8">
    <% if @user.itineraries.any? %>
      <h3>Itineraries (<%= @user.itineraries.count %>)</h3>
      <ol class="itineraries">
        <%= render @itineraries %>
      </ol>
    <% end %>
  </div>

  <div class="span8">
    <%= link_to "Create Itinerary", new_itinerary_path, :class => "signup_button_round" %>
  <div>
</h2>
