<h1>Home</h1>
<p>
This web application aims at connecting people who need help during long distance international
travel with fellow passengers who can provide such help.
</p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
